.main {
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  margin: 0 auto;
  padding: 0;
  width: 1024px;
  font-size: 100%;
  font-weight: 400;
}

.icons {
  width: 25px;
}

/*--------main option---------*/

.header-block {
  background-image: url("images/Background.png");
  background-size: cover;
  background-color: rgba(0, 0, 0,.7);
  background-blend-mode: darken;
  min-height: 480px;
}

.dreams-heading {
  padding: 30px 36px 0 80px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.site-bar {
  display: flex;
  flex-wrap: wrap;
}

.menu {
  list-style-type: none;
}

.menu-item {
  color: #FFF;
  font-family: "Montserrat" sans-serif;
  font-size: 11px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 15px;
}

.menu-item:hover {
  color: #EE2F1B;
}

.big-trigger {
  width: 43.94%;
  margin: 120px auto 0;
}

.big-trigger-item {
  font-family: "Montserrat",  sans-serif;
  text-align: center;
  font-size: 37.5px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFF;
  letter-spacing: -1.9px;
}

.underline:after {
  width: 8.8%;
  height: 2px;
  background-color: #35C2F8;
  display: flex;
  content: "";
  margin: 0 auto;
}

.small-trigger {
  width: 35.16%;
  margin: 0 auto;
}

.small-trigger-item {
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  color: #CCC;
  letter-spacing: -.37px;
}

.main-content {
  text-align: center;
  margin-top: 60px;
  font-family: "Montserrat",  sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  line-height: 56.2px;
  letter-spacing: -1.5px;
  color: #222;
}

.content-header.underline:after {
  margin-bottom: 70px;
  margin-top: 15px;
}

.block-services {
  width: 87.9%;
  margin: 0 auto;
  display: grid;
  grid-auto-columns: repeat(3, 1);
  grid-auto-rows: repeat(3);
  text-align: center;
}

.service-left {
  grid-column-start: 1;
  grid-column-end: 1;
}

.service-center {
  grid-column-start: 2;
  grid-column-end: 2;
}

.service-right {
  grid-column-start: 3;
  grid-column-end: 3;
}

.service-title {
  font-family: "Montserrat",  sans-serif;
  font-size: 12px;
  color: #222;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -.3px;
  margin: 39px 0 19px;
}

.service-text {
  padding: 0 25px;
  margin-bottom: 101px;
  font-size: 10px;
  color: #888;
  font-weight: 400;
  letter-spacing: -.26px;
}

.expertise-block {
  min-height: 462px;
  background-color: #F7F7F7;
  display: flex;
}

.expertise-title-section {
  padding: 0 50px;
}

.expertise-title {
  font-family: "Montserrat",  sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  color: #222;
  letter-spacing: -1.5px;
}

.expertise-main {
  color: #777;
  font-size: 12px;
  letter-spacing: -.3px;
}

.expertise-menu-section {
  display: flex;
  flex-wrap: wrap;
}

.expertise-menu-block {
  width: 34%;
  display: flex;
}

.expertise-menu-icon {
  padding: 10px 5px 0 0;
}

.expertise-menu-content {
  display: flex;
  flex-direction: column;
}

.expertise-menu-title {
  font-family: "Montserrat",  sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  color: #222;
  letter-spacing: -.26;
}

.expertise-menu-main {
  font-size: 10px;
  color: #777;
  line-height: 17px;
  overflow: hidden;
  letter-spacing: -.26px;
}


.expertise-button {
  width: 18%;
  text-align: center;
  border-radius: 50px;
  background-color: #35C2F8;
  color: #FFF;
}

.expertise-button:hover {
  color: #222;
  background-color: #FFF;
}

.expertise-button-item {
  text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -.26px;
}

.amazing-block {
  display: flex;
  padding: 30px 0;
}

.amazing-right-image {
  width: 100%;
  overflow: hidden;
  align-self: center;
}

.amazing-left-block {
  background-image: url("images/Background_-_Users-Icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 150px;
  display: flex;
  flex-direction: column;
}

.amazing-title-section {
  padding-left: 45px;
  display: flex;
  flex-direction: column;
}

.amazing-title {
  font-family: "Montserrat",  sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  color: #222;
  letter-spacing: -1.5px;
}

.amazing-main {
  font-size: 10px;
  color: #777;
  line-height: 17px;
  overflow: hidden;
  letter-spacing: -.26px;
}

.amazing-menu-section {
  display: flex;
  flex-direction: column;
}

.amazing-menu-block {
  display: flex;
}

.amazing-menu-icon {
  padding-right: 5px;
  padding-top: 10px;
}

.amazing-menu-title {
  font-family: "Montserrat",  sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  color: #222;
  line-height: 17px;
  letter-spacing: -.26px;
}

.amazing-menu-main {
  color: #777;
  font-family: "Noto Sans", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: -.26px;
}

.images-block {
  display: flex;
  flex-direction: column;
}

.images-block-top, .images-block-bottom {
  display: flex;
}

